@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Regular.woff2') format('woff2'),
        url('../fonts/Outfit-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}