@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    font-family: "Outfit", sans-serif;
    color: #F2F5F9;
    /* Variables go here! E.g.
    --white: hsl(0, 0%, 100%);
    */
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
textarea {
    overflow: auto;
}

button {
    font-size: 0.875rem;
    color: #F2F5F9;
}

p {
    font-size: 0.75rem;
}


.word_input {
    font-size: 1.25rem;
}

body {
    height: 100vh;
    width: 100vw;
    background: url(../images/bg-guess-the-word.webp) repeat center center/100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

@media screen and (width <= 715) {
    body {
        background: none;
        background: url(../images/bg-guess-the-word-small.webp) repeat center center/100%;
    }
}

main {
    max-width: 400px;   
    width: 95%; 
    background-color: #171e30;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    padding: 2em;
    border-radius: 20px;
}

.line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.scrambled_word {
    

    background-color: #4A5567;
    width: 100%;
    /* height: 80px; */
    
    text-align: center;
    letter-spacing: 0.5rem;
    

    border-radius: 10px;

    margin: 1rem auto;
    padding: 0.5rem 1rem;


    box-shadow: 0px 4px 0px 0px #030616;
    font-size: 2rem;
}

.word_input {
    min-height: 3em;
    margin: 1.5em 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.dot {
    margin: auto 0.25em;
    margin-top: 2px;


    height: 0.5em;
    width: 0.5em;
    display: inline-block;
    border-radius: 50%;
    background-color: #4A5567;
    &.true {
        background-color: #672171;
    }    
}



.letter_input {
    text-align: center;
    aspect-ratio: 1/1;
    height: 2.75rem;
    padding: 0.25em;
    
    border: 2px solid #4A5567;
    border-radius: 10px;

    margin: 0.25rem;
    padding: 0.5rem;
    background-color: #171e30;
    color: #F2F5F9;

    caret-color: #171e30;
    
}

.focused {
    border: none;
    border: 2px solid #672171;
}


.buttons {
    display: flex;
    justify-content: center;

    button {
        padding: 0.75em 3em;
        margin: 0.5em;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 0px #7b248a);
        background-color: #C951E7;
        border: 0px;
    }
}

